{% extends "trello_app/base.html" %}

{% block content %}

<div class="container-fluid home">
  <a href="{% url 'trello_app:lists_create'%}" class="btn btn-primary mt-3">リスト作成</a>
  <div class="row flex-nowrap">
    {% for list in list_list %}
    <div class="bg-light m-3 p-2 list">
      <h4>{{ list.title }}
        <a href="{% url 'trello_app:lists_update' list.pk %}" class="text-dark"><i class="far fa-edit fa-xs"></i></a>
        <a href="{% url 'trello_app:lists_delete' list.pk %}" class="text-dark"><i class="far fa-trash-alt fa-xs"></i></a>
      </h4>

      {% for card in list.card_set.all %}
      <div class="card m-3">
        <div class="card-body">
          <a href="{% url 'trello_app:cards_detail' card.pk %}">
            <h5 class="card-title text-dark">{{ card.title }}</h5>
          </a>
          <a href="{% url 'trello_app:cards_update' card.pk %}" class="card-link text-primary">修正</a>
          <a href="{% url 'trello_app:cards_delete' card.pk %}" class="card-link text-danger">削除</a>

        </div>
      </div>
      {% endfor %}
      <a href="{% url 'trello_app:cards_create_from_home' list.pk%}" class="text-dark"><i class="far fa-plus-square"></i> さらにカードを追加</a>
    </div>
    {% endfor %}
  </div>
</div>
{% endblock %}